/**
 * Archive Page (under construction)
 */
.blogs_ui {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	height: inherit;
}

.blog_nav_container {
	display: flex;
	position: fixed;
	padding-left: auto;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--break-color);
	border-radius: 10px;
	height: 300px;
	width: 120px;
	left: 5%;
	top: 20%;
	background-color: var(--background-color);
} .blog_nav {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: flex-end;
	justify-content: space-between;
	padding-left: auto;
	border-radius: 10px;
	width: 120px;
	height: 300px;
	font-family: var(--font-family-text);
}
.blog_nav_topic {
	display: flex;
	position: relative;
	align-items: center;
	width: inherit;
	height: 20%;
	font-size: 20px;
	color: var(--secondary-color);
	font-family: var(--font-family-design);
} .blog_nav_topic:hover {
	cursor: pointer;
} .blog_nav_topic::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1px;
	bottom: 0;
	left: 0;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
	background-color: var(--accent-color-lightblue);
	color: var(--accent-color-darkblue);
} .blog_nav_topic:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
	background-color: var(--accent-color-lightred);
	color: var(--accent-color-darkblue);
}

.nav_topic {
	margin-left: 10px;

}


/* blog post list container */
/**
 * position manipulates the location of the item on the web page. (external)
 * display affects the content within an item. (internal)
 */
.blog_post_list {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 120px;
	margin-bottom: 75px;
	border-radius: 20px;
	font-size: 1em;
	min-height: 100vh;
	width: 700px;
	height: 100%;
	gap: 20px;
	z-index: 0;
	background-color: var(--background-color);
	color: var(--primary-color);
	font-family: var(--font-family-design);
}
.blog_post_list_link {
	display: flex;
	flex-direction: row;
	position: relative;
	flex-direction: row;
	text-decoration: none;
	justify-content: start;
	width: inherit;
	height: 200px;
	margin: 10px;
	color: var(--primary-color);
} .blog_post_list_link:hover {
	color: var(--secondary-color);
}

.blog_post_list_link_text{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	margin-left: 50px;
	width: 100%;
	font-size: 15px;
} .bpl_title, .bpl_excerpt, .bpl_footer {
	margin: 0;
	text-align: left;
	font-size: 20px;
} .bpl_title {
	font-weight: bold;
	font-size: 1.7em;
} .bpl_excerpt {
	font-size: 1.3em;
} .bpl_footer {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1em;
	color: var(--primary-color-light);
	font-family: var(--font-family-text);		
} 

.blog_post_list_link_img {
	position: relative;
	margin-left: auto;
	object-fit: cover;
	border-radius: 10px;
	height: inherit;
	width: 275px;
}

.line_break {
	border-top: var(--break-color) 1px solid ;
	width: 100%;
}



