.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px 6px;
	width: 100vw;
	background-color: black;
	font-family: Georgia, 'Times New Roman', Times, serif;
	border-bottom: rgb(50, 50, 50) 1px solid;
}

.blogs_ui {
	
}
