a {
	text-decoration: none;
	color: var(--primary-color);
}
/**
 * Home Page Styles
 */
.home_ui_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-family: var(--font-family-text);
	color: var(--primary-color);
	width: 100vw;
	height: 100vh; /** Default value: calculate the height of the content */
}
.hc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 870px;
	height: 80%;
	margin: 0 auto;
}
/** Container for the recent blog post */
.hc_recent{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 50%;
	width: 100%;
	text-decoration: unset;
} .hc_recent:visited {
	color: var(--primary-color);
} .hc_recent:hover {
	cursor: pointer;
}
.hc_recent_img {
	border-radius: 3%;
	width: 50%;
	height: 100%;
	object-fit: cover;
}
.hc_recent_text {
	display: flex;
	flex-direction: column;	
	justify-content: center;
	overflow: hidden;
	font-size: 0.8em;
	margin: 0;
	padding: 0 20px;
	width: 50%;
} .hc_recent_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
	width: 100%;
} .hc_recent_title p {
	display: flex;
	text-align: left;
	justify-content: space-between;
	font-size: 0.6em;
	margin: 0;
} .hc_recent_links {
	display: flex;
	flex-direction: row;
	margin-top: 25px;
}


/**
 * Registration Page Styles
 */


/**
 * Header Styles
 */
.header {
	position: fixed;
	top: 0;
	left: 0; 
	right: 0;
	z-index: 1000;
	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	padding: 4px 6px; /* top-bottom, left-right */
  	width: 100vw;
	background-color: var(--background-color);
 	font-family: var(--font-family-design);
	border-bottom: var(--break-color) 1px solid;
}
.header_logo {
	color: var(--secondary-color);
	padding: 15px;
	margin-left: 70px;
	font-size: 1em;
}
.header_logo:hover {
	cursor: pointer;
}
.header_nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 18%;
	margin-right: 70px;
	padding: 15px;
}

.header_link {
	cursor: pointer;
}

.header_nav_item {
	font-size: 0.7em;
	display: inline-block;
	position: relative;
	color: var(--primary-color);
	font-family: var(--font-family-text2);
	font-weight: 500;
} .header_nav_item:hover {
	cursor: pointer;
} 
.header_nav_item::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: var(--accent-color-lightblue);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
} .header_nav_item:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
	background-color: var(--accent-color-lightred);
}


/**
 * Header Logo Animation
 */
.header_logo {
	background: linear-gradient(to right, var(--accent-color-lightred), 
				var(--accent-color-darkred),var(--accent-color-darkblue), 
				var(--accent-color-lightblue));
	animation: rainbow 1s ease-in-out infinite;
	background-clip: text;
	-webkit-background-clip:text;
	transition: color .3s ease-in-out;
 }.header_logo:hover {
	color:rgba(0,0,0,0);
}
@keyframes rainbow { 
	0%{background-position:left}
	50%{background-position:right}
	100%{background-position:left}
}



/**
 * Footer Styles
 */
.footer_logo_container {
	display: flex;
	flex-direction: column;
	padding: 2em 2em;
	z-index: 1000;

}.footer_logo {
	user-select: none;
	align-self: center;
	font-family: var(--font-family-design);
	font-size: 1em;
	padding: 0.5em 1em; /* Top bottom left right*/
	color: var(--secondary-color);

}

.footer_logo_text {
	user-select: none;
	position: relative;
	justify-content: flex-start;
	font-family: var(--font-family-text);
	color: var(--primary-color);
	font-size: 0.3em;
}
.footer_socials_container {
	display: flex;
	flex-direction: column;
	padding: 0 2em;
}
.footer_socials {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}