/**
 * Home Page Styles
 */
.home_ui_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-family: var(--font-family-text);
	color: var(--primary-color);
	width: 100vw;
	height: 100vh; /** Default value: calculate the height of the content */
}
.hc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	height: 80%;
	padding: 20px;
	margin: 0 auto;

}
/** Container for the recent blog posts */
.hc_recent{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 50%;
	width: 100%;
	text-decoration: unset;
} .hc_recent:visited {
	color: var(--primary-color);
}

.hc_recent_img {
	border-radius: 3%;
	width: 50%;
	height: 100%;
	object-fit: cover;
} .hc_recent_text {
	display: flex;
	flex-direction: column;	
	justify-content: center;
	overflow: hidden;
	font-size: 0.8em;
	margin: 0;
	padding: 0 20px;
	width: 50%;
} .hc_recent_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
	width: 100%;
} .hc_recent_title p {
	text-align: left;
	font-size: 0.7em;
	margin: 0;
} .hc_recent_links {
	display: flex;
	flex-direction: row;
	margin: 15px 0;
}


/**
 * Registration Page Styles
 */


/**
 * Header Styles
 */
.header {
	position: fixed;
	top: 0;
	left: 0; 
	right: 0;
	z-index: 1000;
	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	padding: 4px 6px; /* top-bottom, left-right */
  	width: 100vw;
	background-color: var(--background-color);
 	font-family: var(--font-family-design);
	border-bottom: var(--break-color) 1px solid;
}
.header_logo {
	color: var(--secondary-color);
	padding: 15px;
	margin-left: 45px;
	font-size: 1em;
}
.header_logo:hover {
	cursor: pointer;
}
.header_nav {
	margin-right: 45px;
}
.header_nav_item {
	align-items: flex-start;
	padding: 20px;
	vertical-align: 5px;
	border-radius: 20px;
	color: var(--secondary-color);
}
.header_nav a:hover {
	color: var(--background-color);
	background-color: var(--secondary-color);
}
.header_link {
	cursor: pointer;
}

/**
 * Footer Styles
 */
.footer_logo_container {
	display: flex;
	flex-direction: column;
	padding: 2em 2em;

}.footer_logo {
	user-select: none;
	align-self: center;
	font-family: var(--font-family-design);
	font-size: 1em;
	padding: 0.5em 1em; /* Top bottom left right*/
	color: var(--secondary-color);

}.footer_logo_text {
	user-select: none;
	position: relative;
	justify-content: flex-start;
	font-family: var(--font-family-text);
	color: var(--primary-color);
	font-size: 0.3em;
}
.footer_socials_container {
	display: flex;
	flex-direction: column;
	padding: 0 2em;
}
.footer_socials {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

